*{
 margin: 0;
 padding: 0;
 text-align: center;
 font-family: 'Lilita One', cursive;

}
body{
  max-height: 100vh;
  background-image: url(https://i.ytimg.com/vi/TFUAyUgcd-8/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
h1{
  margin: 7rem 0rem 0rem;
color: rgb(255, 255, 255);
}
div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span{
  margin: 2rem;
  font-size: 7rem;
  font-family: "Sniglet", cursive;
  color: rgb(0, 0, 0);
  
}

button.unoMas{
  margin: 20px;
  min-width: 130px;
  height: 40px;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #035f1ace;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
button:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

button.reset{
  margin: 20px;
  min-width: 130px;
  height: 40px;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #ff0000b9;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}
button:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}